@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/* body */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;

}

/* headings */

header {

    height: 100px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    color: darkolivegreen;
}

h2 {
    font-family: "Quattrocento Sans", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    color: darkolivegreen;

}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    color: inherit;
}

#logo, .menu {

    line-height: 75px;
}

.menu a :hover {
    border-bottom: 1px solid darkolivegreen;
}

#hero-outer {

    background-color: lightgoldenrodyellow;
}

#hero-image {

    height: 800px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    background-image: url("../images/pexels-acharaporn-kamornboonyarush-1028704.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
}

#cafe-box {

    box-sizing: border-box;
    height: 200px;
    width: 100%;
    border: double 10px darkolivegreen; 
    background-color: lightgoldenrodyellow;
    font-weight: 400px;
    text-align: center;
    font-size: xx-large;
    padding: 50px;
    color: darkolivegreen;

}

#customer-reviews {

    background-color: lightgoldenrodyellow;
}

#customer-reviews h1 {

    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900px;
    line-height: 1.25;
    text-decoration: underline;
}

.testimonial-box {

    height: 300px;
    width: 30%;
    display: inline-block;
    margin: 20px;
    background-color: rgba(250, 218, 221, 0.3);
    border: solid 4px darkolivegreen;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    overflow: scroll;
}

.testimonial-box h2 {

    padding: 10px;

}

footer {
    height: 150px; 
    width: 100%;
    background-color: antiquewhite;
    color: darkolivegreen;

}

#classic-flavours {

    padding-top: 30px;
    margin: auto;
    text-align: center;
}

.classic-cupcakes {

    width: 25%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    display: inline-block;

}

#classic-flavours h2 {

    padding-top: 50px;
}

.classic-cupcakes h4 {

    padding-top: 20px;
    padding-bottom: 20px;
}

.classic-cupcakes img {

    height: 400px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;


}

.social-media-links {

    list-style: none;
    line-height: 20px;
    float: right;
    margin: auto;
    padding-right: 20px;
    padding-top: 20px;
    color: darkolivegreen;

}

#form-intro {

    padding: 10px;
    line-height: 1.5;
    text-align: center;
    border-bottom: 4px solid darkolivegreen;
}

#form-intro h2 {

    text-align: center;
    border: 2px solid darkolivegreen;
    
}

.form-section {

    background-image: url("../images/pexels-pixabay-209618.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    margin: auto;
}

.contact-us {
    margin: 0 10% 0 0;
    color: #fff;
    background-color: rgba(85, 107, 47, 0.6);
    max-width: 400px;
    position: relative;
    left: 30%;
    padding: 30px;
}


.contact-us h2 {
    
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
    
    background: whitesmoke;
    color: #fafafa;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}

.text-input:hover {
    
    border: 2px solid darkolivegreen;
}

textarea:hover {

    border: 2px solid darkolivegreen;S
}

.contact-us-button {
    
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: darkolivegreen;
    color: #fafafa;
    display: block;
}

.contact-us-button:hover {
    
    background-color: #fafafa;
    color: #f16c6b;
}

