@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/* body */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    color: black;

}

/* headings */

header {

    height: 100px;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    background-color: lightslategray;
}

h1 {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 20px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

#logo, .menu {

    line-height: 75px;
}

.menu a :hover {
    border-bottom: 1px solid black;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

footer {

    height: 100px;
    margin-top: auto;
    background-color: lightgrey;
}

.contact-details {

    float:left;
    margin: auto;
    padding-left: 20px;
    list-style: none;
}

.social-media-links {

    float: right;
    margin: auto;
    padding-right: 30px;
    list-style: none;

}